.body {
    background-color: black;
}
.container {
    margin: 20px;
}
.row1 {
    background-color: rgb(0, 255, 170);
}
.row2 {
    background-color:rgb(255, 0, 221);
}
.row3{
    background-color: coral;
}
.row1, .row2,.row3 {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
h1 {
    text-align: center;
    color: rgb(0, 255, 170);
    border:2px solid cornsilk;
}
.one{
    color: rgb(255, 0, 221);
}
.two{
    color: coral; 
}
p{
    text-align: center;
    color: cornsilk;
}
img {
    height: 200px;
    margin: 20px;
}